<web-app>
<servlet>
<servlet-name>
OrderFoodServlet
</servlet-name>
<servlet-class>
OrderFoodServlet
</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>
OrderFoodServlet
</servlet-name>
<url-pattern>
/OrderFoodServlet
</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>
ViewOrdersServlet
</servlet-name>
<servlet-class>
ViewOrdersServlet
</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>
ViewOrdersServlet
</servlet-name>
<url-pattern>
/ViewOrdersServlet
</url-pattern>
</servlet-mapping>
</web-app>