<web-app>
<servlet>
<servlet-name>AddStudentServlet</servlet-name>
<servlet-class>AddStudentServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddStudentServlet</servlet-name>
<url-pattern>/AddStudentServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ViewStudentsServlet</servlet-name>
<servlet-class>ViewStudentsServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewStudentsServlet</servlet-name>
<url-pattern>/ViewStudentsServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AddFacultyServlet</servlet-name>
<servlet-class>AddFacultyServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddFacultyServlet</servlet-name>
<url-pattern>/AddFacultyServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ViewFacultyServlet</servlet-name>
<servlet-class>ViewFacultyServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewFacultyServlet</servlet-name>
<url-pattern>/ViewFacultyServlet</url-pattern>
</servlet-mapping>
</web-app>