<web-app>
<servlet>
<servlet-name>
AddBookServlet
</servlet-name>
<servlet-class>
AddBookServlet
</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>
AddBookServlet
</servlet-name>
<url-pattern>
/AddBookServlet
</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>
ViewBooksServlet
</servlet-name>
<servlet-class>
ViewBooksServlet
</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>
ViewBooksServlet
</servlet-name>
<url-pattern>
/ViewBooksServlet
</url-pattern>
</servlet-mapping>
</web-app>