<web-app>
<servlet>
<servlet-name>BookTicketServlet</servlet-name>
<servlet-class>BookTicketServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BookTicketServlet</servlet-name>
<url-pattern>/BookTicketServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ViewBookingsServlet</servlet-name>
<servlet-class>ViewBookingsServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewBookingsServlet</servlet-name>
<url-pattern>/ViewBookingsServlet</url-pattern>
</servlet-mapping>
</web-app>