<web-app>

<filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
        <param-name>cors.allowed.origins</param-name>
        <param-value>https://sanjaykumarand.github.io,https://w2-jfsdips.onrender.com</param-value>
    </init-param>
    <init-param>
        <param-name>cors.allowed.methods</param-name>
        <param-value>GET,POST,HEAD,OPTIONS,PUT,DELETE</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<servlet>
<servlet-name>
AddEmployeeServlet
</servlet-name>
<servlet-class>
AddEmployeeServlet
</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>
AddEmployeeServlet
</servlet-name>
<url-pattern>
/AddEmployeeServlet
</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>
ViewEmployeeServlet
</servlet-name>
<servlet-class>
ViewEmployeeServlet
</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>
ViewEmployeeServlet
</servlet-name>
<url-pattern>
/ViewEmployeeServlet
</url-pattern>
</servlet-mapping>
</web-app>